/*scroll file navigator horizontally*/
.nav-files-container {
  overflow-x: auto;
}
.nav-file-title, .nav-folder-title {
  width: max-content;
}

/*scroll codeblock*/
.HyperMD-codeblock.cm-line
, code[class*="language-"]
, pre[class*="language-"]
{
  white-space: pre;
  overflow-x: scroll;
}
